<div *ngIf="error" class="error">{{ error }}</div>
<div *ngIf="countryStats">
  <app-header
    [title]="countryStats.country.country"
    [indicators]="indicators"
  ></app-header>
  <div class="chart-container wrapper-container">
    <div class="container">
      <app-line-chart
        elementId="countryChart"
        [labels]="countryStats.years"
        [data]="countryStats.medalsByYear"
      ></app-line-chart>
      <h2>Date</h2>
    </div>
  </div>
  <div class="center">
    <a routerLink="">Go back</a>
  </div>
</div>
